/* Planshet */
@media only screen and (max-width: 768px) {
  .hr {
    width: 450px;
  }
  @keyframes hr {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
      width: 10px;
    }
  }
  nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 5px;
    z-index: 30;
    align-items: center;
  }

  .nav {
    position: fixed;
    left: -100%;
    top: 5vh;
    transition: all 1s;
    background-color: rgb(255, 255, 255, 0.98);
    box-shadow: 0 0 20px 0 rgb(68 88 144 / 20%);
    width: 80%;
    height: 90vh;
    z-index: 30;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    display: block;
    line-height: 50px;
  }
  #check:checked ~ ul {
    left: 10%;
  }
  #check:checked ~ .checkBtn .nav__collapase__item {
    background-color: red;
  }
  #check:checked ~ .checkBtn .three__collapse__item {
    display: none;
  }
  #check:checked ~ .checkBtn .first__collapse__item {
    transform: rotate(45deg);
    margin-bottom: 0;
  }
  #check:checked ~ .checkBtn .second__collapse__item {
    transform: rotate(-45deg);
    margin-bottom: 0;
    margin-top: -4px;
  }
  .checkBtn {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
  }
  .nav__collapase__item {
    height: 4px;
    width: 32px;
    background-color: #ffa200;
    position: relative;
  }
  .first__collapse__item {
    margin-bottom: 8px;
  }
  .second__collapse__item {
    margin-bottom: 8px;
  }
  .nav-item .nav-link {
    margin-right: 0;
  }
  .nav-item .nav-link:hover {
    margin-top: 0;
  }
  .nav-item .nav-link::before {
    bottom: 3px;
  }
  .nav-item .active {
    margin-top: 0;
    color: #000;
  }
  .ismim {
    margin-right: 0;
  }
}

/* Telefon */

@media only screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  .hr {
    width: 300px;
  }
  @keyframes hr {
    0% {
      left: 0;
    }
    100% {
      left: 150px;
      width: 10px;
    }
  }
  .nav-item .nav-link {
    font-size: 14px;
  }

  .animation__name {
    height: 30px;
    margin: 20px 0;
  }
  .ismim {
    margin-right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .animation__name h1 {
    font-size: 27px;
  }
  @keyframes animation__name {
    0% {
      margin-top: 0;
    }
    25% {
      margin-top: -45px;
    }
    50% {
      margin-top: -90px;
    }
    75% {
      margin-top: -45px;
    }
    100% {
      margin-top: 0;
    }
  }
  .about__items {
    flex-direction: column;
  }
  .about__item__img {
    left: 40px;
  }
  .about__item__paragraph {
    margin-bottom: 60px;
  }
  .about__item__paragraph p {
    font-size: 13px;
    margin: 30px 0;
  }
  .card__items {
    flex-flow: column;
  }
  .first__card,
  .second__card {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .skills__item__education {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .skills__education {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .skills__item {
    justify-content: center;
    padding: 30px 10px;
    width: 320px;
  }
  .html__skill__item,
  .css__skill__item,
  .bootstrap__skill__item,
  .js__skill__item {
    width: 280px;
  }
  .teacher__items__card {
    flex-flow: column;
    align-items: center;
  }
  .first__teacher__item,
  .second__teacher__item {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .portfolio__row {
    flex-flow: column;
  }
  .website__item {
    width: 270px;
    height: 170px;
  }
  .portfolio__first__website,
  .portfolio__three__website {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .portfolio__overlay__linkedin {
    left: 17px;
  }
  .portfolio__website__link,
  .portfolio__sign__in {
    width: 35px;
    height: 35px;
  }
  .overlay__item a i {
    font-size: 17px;
  }
  .portfolio__overlay__title {
    font-size: 17px;
    left: 17px;
  }
  .contact__card__and__form {
    flex-flow: column;
  }
  .first__contact__card__row {
    flex-flow: column;
  }
  .second__contact__card__row {
    flex-flow: column;
  }
  .contact__phon__card,
  .contact__addres__card {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .contact__card {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .contact__form {
    padding: 70px 90px;
  }
  .contact__form:hover {
    transform: translateY(0);
  }
  .website__map a {
    font-size: 10px;
    margin-right: 9px;
  }
}

/*  Noutbook  */

@media only screen and (min-width: 1300px) {
  html {
    font-size: 20px;
  }
  nav {
    height: 100px;
  }
  .ismim h4 {
    font-size: 28px;
  }
  .ismim h5 {
    font-size: 28px;
  }
  .animation__name {
    margin: 30px 0;
    height: 80px;
  }
  .web__designer {
    font-size: 29px;
  }
  .animation__name h1 {
    font-size: 65px;
    margin-bottom: 40px;
  }
  .junior__dev {
    font-size: 29px;
    margin-bottom: 40px;
  }
  @keyframes animation__name {
    0% {
      margin-top: 0;
    }
    25% {
      margin-top: -95px;
    }
    50% {
      margin-top: -165px;
    }
    75% {
      margin-top: -95px;
    }
    100% {
      margin-top: 0;
    }
  }
  .first__card,
  .second__card,
  .three__card {
    width: 15rem;
    max-height: 12.5rem;
    padding-top: 60px;
    padding-bottom: 5px;
  }
  .about__card__item:hover {
    max-height: 27rem;
  }
  .about__card__item i {
    font-size: 5.9rem;
  }
  .about__card__h4 {
    font-size: 1.3rem;
  }
  .card_paragrap {
    font-size: 0.96rem;
  }
  .contact__form {
    padding: 0 110px;
  }
  .skill__item__header__and__body {
    width: 60%;
  }
  .skills__item {
    padding: 30px 40px;
  }
}
