* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}


.my-img {
    width: 100%;
    background: url(./image/about.bg.png);
    height: 60vh;
    background-size: cover;
    display: flex;
}
.my-img img {
    width: 220px;
    height: 300px;
    margin: 100px 100px;
    margin-right: 50px;
    border: 4px solid #01cafe;
    box-shadow: 0 0 30px 15px #01cafe;
}
.name {
    display: flex;
    align-items: flex-end;
}
.name h1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: rgb(8, 8, 49);
}